---

# This role prepares a disconnected satellite for installation
# Configure offline base OS repos

- name: "Ensure that the target mounts are not yet mounted"
  ansible.posix.mount:
    src: "{{ satellite_disconnected_root }}/{{ satellite_os_iso_source }}"
    path: "{{ satellite_os_repo_mount }}"
    state: unmounted
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Ensure that the target mounts are not yet mounted"
  ansible.posix.mount:
    src: "{{ satellite_disconnected_root }}/{{ satellite_install_iso_source }}"
    path: "{{ satellite_install_repo_mount }}"
    state: unmounted
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Create the target directory"
  ansible.builtin.file:
    path: "{{ satellite_disconnected_root }}"
    state: directory
    mode: "0655"
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Copy the OS iso - validates and overwrites if necessary - Please wait..."
  ansible.builtin.copy:
    src: "{{ satellite_os_iso_source }}"
    dest: "{{ satellite_disconnected_root }}/{{ satellite_os_iso_source }}"
    mode: "0655"
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Copy the Satellite iso - validates and overwrites if necessary - Please wait..."
  ansible.builtin.copy:
    src: "{{ satellite_install_iso_source }}"
    dest: "{{ satellite_disconnected_root }}/{{ satellite_install_iso_source }}"
    mode: "0655"
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Mount the OS source"
  ansible.posix.mount:
    src: "{{ satellite_disconnected_root }}/{{ satellite_os_iso_source }}"
    path: "{{ satellite_os_repo_mount }}"
    fstype: "iso9660"
    opts: "ro"
    state: mounted
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Mount the Satellite source"
  ansible.posix.mount:
    src: "{{ satellite_disconnected_root }}/{{ satellite_install_iso_source }}"
    path: "{{ satellite_install_repo_mount }}"
    fstype: "iso9660"
    opts: "ro"
    state: mounted
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Template the OS repo file"
  ansible.builtin.template:
    src: "{{ satellite_os_repo_template_name }}"
    dest: "{{ satellite_os_repo_template_dest }}"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Refresh the repos"
  ansible.builtin.command: "dnf repolist"
  register: repolist_out
  changed_when: repolist_out.rc == 0
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

- name: "Assertion"
  ansible.builtin.assert:
    that:
      - "'RHEL-BaseOS' in repolist_out.stdout"
      - "'RHEL-AppStream' in repolist_out.stdout"
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

# Update the system based on the current repos
- name: "Update the system" # noqa package-latest
  ansible.builtin.dnf:
    name: "*"
    state: latest
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

# Copy installation files to disconnected satellite
- name: "Install satellite binaries from DVD"
  ansible.builtin.command: "{{ satellite_install_repo_mount }}/install_packages"
  args:
    chdir: "{{ satellite_install_repo_mount }}"
  register: satellite_install_packages
  changed_when: satellite_install_packages.rc == 0
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync

# We are done the disconnected pre section
- name: "Disconnected Satellite prepartion complete"
  ansible.builtin.assert:
    that: true
  tags:
    - tags_satellite_pre
    - tags_satellite_before_sync
