---
# Ensure that chronyd is installed and that time is synchronized.
- name: "Install chrony for accurate time keeping"
  ansible.builtin.dnf:
    name: chrony
    state: present
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_chrony
    - tags_disconnected_satellite

- name: "Configure time servers"
  ansible.builtin.template:
    src: "chrony.j2"
    dest: "/etc/chrony.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_chrony
    - tags_disconnected_satellite

- name: "Start the chronyd service with default settings"
  ansible.builtin.service:
    name: chronyd
    state: restarted
    enabled: true
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_chrony
    - tags_disconnected_satellite

- name: "Ensure the time is synchronized"
  ansible.builtin.command: "chronyc makestep" # noqa: no-changed-when
  register: makestep_result
  changed_when: makestep_result.rc == 0
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_chrony
    - tags_disconnected_satellite

- name: "Install the SOS Report package"
  ansible.builtin.dnf:
    name: sos
    state: present
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_chrony
    - tags_disconnected_satellite
