---

- name: "Set up IdM DNS lookup zone to allow foreman proxy to update DNS"
  redhat.rhel_idm.ipadnszone:
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ ipa_dns_zone }}"
    update_policy: "{{ foreman_proxy_bind_update_policy }}"
    allow_sync_ptr: true
    dynamic_update: true

- name: "Set up IdM reverse lookup zone to allow foreman proxy to update DNS"
  redhat.rhel_idm.ipadnszone:
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ ipa_dns_reverse_zone }}"
    update_policy: "{{ foreman_proxy_bind_update_policy_reverse }}"
    allow_sync_ptr: true
    dynamic_update: true
