---

- name: "Copy the ipa ca-certificates to the trust directory"
  ansible.builtin.copy:
    src: /etc/ipa/ca.crt
    dest: /etc/pki/ca-trust/source/anchors/ipa.crt
    remote_src: true
    owner: root
    group: root
    mode: '0644'

- name: "Enable the CA trust" # noqa: no-changed-when risky-shell-pipe
  ansible.builtin.command: "update-ca-trust enable"

- name: "Update the CA trust" # noqa: no-changed-when risky-shell-pipe
  ansible.builtin.command: "update-ca-trust"
