---

# Integrate Satellite with IdM and prepare the Realm
# When we integrate with IdM we will create and HTTP service and a domain user
# We will retrieve keytabs for each and ensure that they are in the proper directories
# Additionally we will create certificates for the Satellite service and validate them before install

- name: "Ensure satellite is registered to Identity Management"
  ansible.builtin.import_tasks: ensure_idm_registered.yml
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idmclient

- name: "Ensure satellite HTTP service certificates are generated"
  ansible.builtin.import_tasks: ensure_idm_service_certs.yml
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_gen_certs

- name: "Retrieve the HTTP service keytab"
  ansible.builtin.import_tasks: get_foreman_httpd_keytab.yml
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_httpd_keytab

- name: "Ensure identity management realm is prepared for use with Satellite"
  ansible.builtin.import_tasks: ensure_idm_prepare_realm.yml
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_prepare_realm
