---

- name: "Create a secure directory"
  ansible.builtin.file:
    path: "{{ sat_ssl_certs_dir }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0600"
    seuser: "system_u"
    serole: "object_r"
    setype: "cert_t"
    selevel: "s0"

- name: "Copy the certificate to the server"
  ansible.builtin.copy:
    src: "{{ ansible_fqdn }}.crt"
    dest: "{{ sat_ssl_key_path }}"
    owner: "root"
    group: "root"
    mode: "0600"

- name: "Copy the certificate key to the server"
  ansible.builtin.copy:
    src: "{{ ansible_fqdn }}.key"
    dest: "{{ sat_ssl_key_path }}"
    owner: "root"
    group: "root"
    mode: "0600"

- name: "Copy the CA cert to the server"
  ansible.builtin.copy:
    src: "{{ ansible_fqdn }}.ca.crt"
    dest: "{{ sat_ssl_ca_crt_path }}"
    owner: "root"
    group: "root"
    mode: "0600"
