---
# currently neither the freeipa.ansible_freeipa collection nor the community collection support certificate management with ansible.
# we either resort to the IPA API and a URI object or command line for this functionality
# community certficate commands are not working even with pyOpenSSL > 16.0
# This task assumes the ipa client is installed and configured.

# yamllint disable rule:line-length

- name: "Create a secure directory"
  ansible.builtin.file:
    path: "{{ sat_ssl_certs_dir }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0600"
    seuser: "system_u"
    serole: "object_r"
    setype: "cert_t"
    selevel: "s0"
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Copy Idm CA crt for use with Satellite"
  ansible.builtin.copy:
    src: "{{ ipa_server_ca_crt_path }}"
    dest: "{{ sat_ssl_ca_crt_path }}"
    owner: "root"
    group: "root"
    mode: "0600"
    remote_src: true
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Authenticate with IdM" # noqa: command-instead-of-shell risky-shell-pipe
  ansible.builtin.shell: "ipa-getkeytab -p {{ ipa_admin_principal }} -s {{ ipaserver_fqdn }} -r -k {{ sat_ssl_certs_dir }}local.keytab -D '{{ keytab_retrieval_dn }}' -w '{{ keytab_retrieval_password }}'" # noqa: yaml[line-length]
  register: gc_get_keytab
  changed_when: gc_get_keytab.rc == 0
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Determine if the private key file exists"
  ansible.builtin.stat:
    path: "{{ ssl_private_key_pem_path }}"
  register: gc_pk_stat
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "If the key exists, determine if we can decrypt the key."
  when: gc_pk_stat.stat.exists
  block:
    - name: "Generate configuration files"
      ansible.builtin.lineinfile:
        path: "{{ passfile }}"
        state: present
        create: true
        line: "{{ sat_ssl_rsa_key_pass }}"
        owner: "root"
        mode: "0740"
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Try to access the existing key"
      ansible.builtin.shell: "openssl pkey -in '{{ ssl_private_key_pem_path }}' -noout -passin 'file:{{ passfile }}'" # noqa command-instead-of-shell
      register: gc_pk_access_result
      changed_when: true
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Changed: Configuration clean up"
      when: gc_pk_access_result.rc > 0
      ansible.builtin.file:
        path: "{{ ssl_private_key_pem_path }}"
        state: absent
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Changed: Configuration clean up"
      when: gc_pk_access_result.rc > 0
      ansible.builtin.file:
        path: "{{ sat_ssl_key_path }}"
        state: absent
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

- name: "Determine if the private key file exists"
  ansible.builtin.stat:
    path: "{{ ssl_private_key_pem_path }}"
  register: gc_pk_stat2
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Create a new configuration"
  when: not gc_pk_stat2.stat.exists
  block:

    - name: "Generate configuration files"
      ansible.builtin.lineinfile:
        path: "{{ passfile }}"
        state: present
        create: true
        line: "{{ sat_ssl_rsa_key_pass }}"
        owner: "root"
        mode: "0740"
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - ansible.builtin.command: "openssl genrsa -{{ ssl_private_key_cipher }} -out {{ ssl_private_key_pem_path }} -passout file:/{{ passfile }} {{ ssl_private_key_size }}" # noqa: name[missing]
      register: gc_gen_key_result
      changed_when: gc_gen_key_result.rc == 0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - ansible.builtin.command: "openssl rsa -in {{ ssl_private_key_pem_path }} -out {{ sat_ssl_key_path }} -passin file:/{{ passfile }}" # noqa: name[missing]
      register: gc_gen_key_result
      changed_when: gc_gen_key_result.rc == 0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

# At this point we have a valid private key file

- name: "Set target service name"
  ansible.builtin.set_fact:
    target_service: "{{ crt_service_type }}/{{ ansible_fqdn }}"
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Ensure target service is present"
  redhat.rhel_idm.ipaservice:
    ipaadmin_principal: "{{ ipa_admin_principal }}"
    ipaadmin_password: "{{ ipa_admin_password }}"
    name: "{{ target_service }}"
    allow_create_keytab_host:
      - "{{ ansible_fqdn }}"
    allow_retrieve_keytab_host:
      - "{{ ansible_fqdn }}"
  register: ts_result
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Check for an existing certificate file"
  ansible.builtin.stat:
    path: "{{ sat_ssl_crt_path }}"
  register: cert_exists
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync

- name: "Cert exists and regen requested - stop tracking and clean up"
  when: cert_exists.stat.exists and crt_force_regen
  block:
    - name: "Read existing cert" # noqa: command-instead-of-module risky-shell-pipe
      ansible.builtin.shell: "sed -n 2,$(expr $(wc -l < {{ sat_ssl_crt_path }}) - 1)p {{ sat_ssl_crt_path }} | tr -d '\n'"
      changed_when: cert.rc == 0
      register: cert
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Get cert serial number"  # noqa: risky-shell-pipe
      ansible.builtin.shell: "kinit -kt {{ sat_ssl_certs_dir }}local.keytab {{ ipa_admin_principal }}; ipa cert-find --certificate='{{ cert.stdout }}' --subject={{ ansible_fqdn }} | grep 'Serial number:' | cut -c18-"
      changed_when: serial_number.rc == 0
      register: serial_number
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Debug"
      ansible.builtin.debug:
        var: serial_number
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Stop tracking cert with certmonger" # noqa: no-changed-when risky-shell-pipe ignore-errors
      ansible.builtin.shell: "kinit -kt {{ sat_ssl_certs_dir }}local.keytab {{ ipa_admin_principal }}; ipa-getcert stop-tracking -k {{ sat_ssl_key_path }} -f {{ sat_ssl_crt_path }} -i {{ ansible_fqdn }}"
      register: gc_stop_tracking_result
      changed_when: gc_stop_tracking_result.rc == 0
      failed_when:
        - gc_stop_tracking_result.rc != 0
        - ('No request found' not in gc_stop_tracking_result.stdout)
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Debug"
      ansible.builtin.debug:
        var: gc_stop_tracking_result
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Remove the old cert from the service"
      redhat.rhel_idm.ipaservice:
        ipaadmin_principal: "{{ ipa_admin_principal }}"
        ipaadmin_password: "{{ ipa_admin_password }}"
        name: "{{ target_service }}"
        certificate: "{{ cert.stdout }}"
        action: member
        state: absent
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Revoke the old cert with reason 4 - certificateSuperceded."
      when: serial_number is defined and (serial_number.stdout_lines | length) == 1
      redhat.rhel_idm.ipacert:
        ipaadmin_principal: "{{ ipa_admin_principal }}"
        ipaadmin_password: "{{ ipa_admin_password }}"
        state: "revoked"
        serial_number: "{{ serial_number.stdout }}"
        reason: "superseded"
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Cert exists, rename old cert .revoked"
      ansible.builtin.copy:
        src: "{{ sat_ssl_crt_path }}"
        dest: "{{ sat_ssl_crt_path }}.revoked"
        remote_src: true
        owner: root
        group: root
        mode: "0640"
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

- name: Generating New Certificate
  when: not cert_exists.stat.exists or crt_force_regen
  block:

    - name: "Generate configuration files"
      ansible.builtin.lineinfile:
        path: "{{ passfile }}"
        state: present
        create: true
        line: "{{ sat_ssl_rsa_key_pass }}"
        owner: "root"
        mode: "0740"
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - ansible.builtin.command: "openssl genrsa -{{ ssl_private_key_cipher }} -out {{ ssl_private_key_pem_path }} -passout file:/{{ passfile }} {{ ssl_private_key_size }}" # noqa: name[missing]
      register: gc_gen_key_result
      changed_when: gc_gen_key_result.rc ==0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - ansible.builtin.command: "openssl rsa -in {{ ssl_private_key_pem_path }} -out {{ sat_ssl_key_path }} -passin file:/{{ passfile }}" # noqa: name[missing]
      register: gc_gen_key_result
      changed_when: gc_gen_key_result.rc ==0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Create request"
      ansible.builtin.command: "openssl req -new -key {{ sat_ssl_key_path }} -out {{ sat_ssl_csr_path }} -subj \"/C={{ csr_country_name }}/ST={{ csr_state_or_province_name }}/L={{ csr_locality_name }}/O={{ csr_organization_name }}/OU={{ csr_organization_unit_name }}/CN={{ ansible_fqdn }}/subjectAltName=DNS.1={{ ansible_fqdn }}\""
      register: gc_gen_csr_result
      changed_when: gc_gen_csr_result.rc ==0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Generate the certificate for the service"
      ansible.builtin.shell: "kinit -kt {{ sat_ssl_certs_dir }}local.keytab {{ ipa_admin_principal }}; ipa cert-request --add --principal={{ target_service }} {{ sat_ssl_csr_path }} --certificate-out={{ sat_ssl_crt_path }}" # noqa: risky-shell-pipe
      register: gc_gen_crt_result
      changed_when: gc_gen_crt_result.rc ==0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: "Ensure that certmonger starts-tracking the new certificate for autorenewals"
      ansible.builtin.shell: "kinit -kt {{ sat_ssl_certs_dir }}local.keytab {{ ipa_admin_principal }}; ipa-getcert start-tracking -k {{ sat_ssl_key_path }} -f {{ sat_ssl_crt_path }} -I {{ ansible_fqdn }}" # noqa: yaml[line-length] risky-shell-pipe no-changed-when
      register: gc_start_tracking_result
      changed_when: gc_start_tracking_result.rc ==0
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

  always:
    - name: Cleanup
      ansible.builtin.file:
        path: "{{ passfile }}"
        state: absent
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync

    - name: Cleanup
      ansible.builtin.file:
        path: "{{ sat_ssl_certs_dir }}local.keytab"
        state: absent
      tags:
        - tags_satellite_pre
        - tags_satellite_pre_idm_integration
        - tags_satellite_before_sync
