---

- name: "Fetch existing foreman-proxy keytab to server"
  ansible.builtin.command:
    cmd: "ipa-getkeytab -p {{ foreman_proxy_realm_principal }} -s {{ ipaserver_fqdn }} -r -k /root/freeipa.keytab -D '{{ keytab_retrieval_dn }}' -w '{{ keytab_retrieval_password }}'" # noqa: yaml[line-length]
  register: gfpk_result
  changed_when: gfpk_result.rc == 0
  no_log: true
  tags:
    - tags_satellite_pre
    - tags_satellite_pre_idm_integration
    - tags_satellite_before_sync
