---
# This task sets up hammer on the satellite server so we can execute
# additional setup commands
# Updated for Satellite 6.6.z health check label is now 'server-ping'

- name: "Create a directory for the hammer config for the root user"
  ansible.builtin.file:
    dest: "/root/.hammer/cli.modules.d/"
    owner: root
    group: root
    mode: "0600"
    state: "directory"

- name: "Create the configuration file"
  ansible.builtin.template:
    src: "foreman.yml.j2"
    owner: root
    group: root
    mode: "0600"
    dest: "/root/.hammer/cli.modules.d/foreman.yml"

- name: "Check hammer"
  ansible.builtin.command: "hammer ping"
  register: ping_status
  changed_when: ping_status.rc == 0

- name: "Assertion: hammer ping"
  ansible.builtin.assert:
    that: "'Status:          ok' in ping_status.stdout"

- name: "Check health"
  ansible.builtin.command: "satellite-maintain health check --label server-ping"
  register: health_status
  changed_when: health_status.rc == 0

- name: "Assertion: Health"
  ansible.builtin.assert:
    that: "'[OK]' in health_status.stdout"
