---

# Perform satellite installation post tasks. e.g. post install tuning
- name: "Disconnected Satellite post"
  when: satellite_disconnected
  block:
    - name: "Ensure disconnected Satellite has subscription connection set to false"
      redhat.satellite.setting:
        username: "{{ satellite_username | default(omit) }}"
        password: "{{ satellite_password | default(omit) }}"
        use_gssapi: "{{ satellite_use_gssapi | default(omit) }}"
        server_url: "{{ satellite_url }}"
        validate_certs: "{{ satellite_validate_certs | default(omit) }}"
        name: "subscription_connection_enabled"
        value: false


# hammer organization configure-cdn --name="My_Organization" --type=export_sync
    - name: "Ensure organization cdn configuration is set to 'export_sync'"
      redhat.satellite.organization:
        username: "{{ satellite_username | default(omit) }}"
        password: "{{ satellite_password | default(omit) }}"
        use_gssapi: "{{ satellite_use_gssapi | default(omit) }}"
        server_url: "{{ satellite_url }}"
        validate_certs: "{{ satellite_validate_certs | default(omit) }}"
        name: "{{ satellite_organization }}"
        parameters:
          - name: "configure-cdn"
            value: "export_sync"

- name: "Ensure postgresql configuration updates"
  ansible.builtin.blockinfile:
    path: "/etc/foreman-installer/custom-hiera.yaml"
    block: |
      postgresql::server::config_entries:
        max_connections: "{{ satellite_post.postgres_max_connections | default(1000) }}"
        shared_buffers: "{{ satellite_post.postgres_shared_buffers | default('2GB') }}"
        work_mem: "{{ satellite_post.postgres_work_mem | default('8MB') }}"
        autovacuum_vacuum_cost_limit: "{{ satellite_post.postgres_avcl | default(2000) }}"

- name: "Rerun_installer"
  ansible.builtin.include_role:
    name: satellite
  tags:
    - tags_phase_3
    - tags_satellite_post
